<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
    <h1>Регистрация нового пользователя</h1>
    <form method="post">
        {% csrf_token %}
        {% for f in form %}
        <div style="display: flex">
            <label class="form-label" style="width: 150px" for="{{ f.id_for_label }}"> {{ f.label }} </label>
            <p style="margin-top: 0">
                {{f}}
            </p>
            <div class="form-error"> {{f.errors}} </div>
        </div>
        {% endfor %}
        <button type="submit">Регистрация</button>
    </form>
</body>
</html>